@global-image-path: '../../images';

/* ========================================================================
   Theme
 ========================================================================== */

/*
 * Force vertical scrollbar
 */

html { overflow-y: scroll; }


/* Font smoothing
 ========================================================================== */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Pages for login, error, etc
 ========================================================================== */

.bk-background {
    background: url("../images/background.jpg") 50% 50% no-repeat;
    background-size: cover;
}

/*
 * Extra
 */
[class*='bk-inline'] {
    display: block;
}
.bk-header {
    background-image: linear-gradient(to left, #323b44, #24292e);
}