@global-image-path: '../../images';


/* Common
========================================================================== */
html { overflow-y: scroll; }


/* Font smoothing
 ========================================================================== */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Pages for login, error, etc
 ========================================================================== */
.bk-background {
    background: url("../images/background.jpg") 50% 50% no-repeat;
    background-size: cover;
}

/* Extra
========================================================================== */
html {
    background: #f9f9fb;
}
[class*='bk-inline'] {
    display: block;
}
.bk-header {
    background-image: linear-gradient(to left, #323b44, #24292e);
}
.uk-form-select {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

/* Table rules
========================================================================== */
.bk-table-width-minimum {
    width: 1px
}

.bk-table-width-36 {
    width: 36px
}

.bk-table-width-100 {
    width: 100px
}

.bk-table-width-150 {
    width: 150px
}

.bk-table-width-200 {
    width: 200px
}

.bk-table-text-break {
    word-break: break-word
}

.bk-table-min-width-100 {
    min-width: 100px
}

.bk-table-min-width-150 {
    min-width: 150px
}

.bk-table-min-width-200 {
    min-width: 200px
}

.bk-table-min-width-300 {
    min-width: 300px
}

.bk-table-max-width-100 {
    max-width: 100px
}

.bk-table-max-width-150 {
    max-width: 150px
}

/* Filter
========================================================================== */
.bk-filter:hover > * { color: #666; }

.bk-filter.uk-active  > * {
    color: #666;
    font-weight: bold;
}
.bk-filter select {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    left: 0;
    -webkit-appearance: none;
}