<div  v-if="$parent.items.length" class="uk-grid uk-grid-medium uk-grid-match uk-child-width-1-2@s uk-child-width-1-3@l uk-child-width-1-4@xl" uk-grid>
    <div v-for="folder in $parent.searchedFolders">
        <div class="uk-panel uk-card uk-card-default uk-text-center" @click.prevent="$parent.toggleSelect(folder.name)">
            <div class="uk-card-media-top uk-card-primary uk-cover-container">
                <div class="uk-position-cover">
                    <span class="uk-position-center" uk-icon="icon: folder; ratio: 5"></span>
                </div>
                <canvas class="uk-responsive-width uk-display-block" width="1200" height="800"></canvas>
            </div>
            <div class="uk-card-footer uk-text-truncate">
                <input class="uk-checkbox" type="checkbox" :value="folder.name" v-model="$parent.selected" @click.stop>
                <a @click.stop="$parent.setPath(folder.path, $event)">{{ folder.name }}</a>
            </div>
        </div>
    </div>

    <div v-for="file in $parent.searchedFiles">
        <div class="uk-panel uk-card uk-card-default uk-text-center" @click.prevent="$parent.toggleSelect(file.name)">
            <div class="uk-card-media-top uk-cover-container">
                <div class="uk-background-contain uk-position-cover" v-if="$parent.isImage(file.path)" v-lazy-background="$url(file.url)"></div>
                <div class="uk-position-cover" v-else>
                    <span class="uk-position-center" uk-icon="icon: folder; ratio: file-text"></span>
                </div>
                <canvas class="uk-responsive-width uk-display-block" width="1200" height="800"></canvas>
            </div>
            <div class="uk-card-footer uk-text-nowrap uk-text-truncate">
                <input class="uk-checkbox" type="checkbox" :value="file.name" v-model="$parent.selected" @click.stop>
                {{ file.name }}
            </div>
        </div>
    </div>
</div>
